<div class="general-main">
  <form action="">
    <div class="inner-general-div">
      <p class="ubuntu-b first-text"><span class="blue">1.</span> State of divorce filing</p>
      <img src="../../assets/chev-question.png">
    </div>
    <mat-form-field class="select-form-field">
        <mat-label>Choose One</mat-label>
        <mat-select style="width:100%" class="select">
          <mat-option>
            Option 1
          </mat-option>
          <mat-option>
              Option 2
            </mat-option>
            <mat-option>
                Option 3
              </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="inner-general-div second">
        <p class="ubuntu-b first-text"><span class="blue">2.</span> Court Name</p>
        <img src="../../assets/chev-question.png">
    </div>

    <mat-form-field class="example-full-width input-form-field second-input focus" [floatLabel]="'never'">
      <input matInput placeholder="Full Name of Court" class="input">
      <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint>
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="inner-general-div third">
        <p class="ubuntu-b first-text"><span class="blue">3.</span> Address of court</p>
        <img src="../../assets/chev-question.png">
    </div>

    <mat-form-field class="example-full-width input-form-field third-input focus">
      <input matInput placeholder="Street Address" class="input">
      <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width input-form-field fourth-input focus" >
        <input matInput placeholder="City" class="input">
        <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
        <mat-error>
          Please enter a valid email address
        </mat-error>
        <mat-error>
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <p class="ubuntu-th state">state</p>

    <mat-form-field class="select-form-field fifth-input">
      <mat-label>Choose One</mat-label>
      <mat-select style="width:100%" class="select">
        <mat-option>
          Option 1
        </mat-option>
        <mat-option>
            Option 2
          </mat-option>
          <mat-option>
              Option 3
            </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width input-form-field sixth-input focus">
      <input matInput placeholder="Zip Code"  class="input">
      <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="inner-general-div second">
        <p class="ubuntu-b first-text"><span class="blue">4.</span> Plaintiff's name of court filings</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <mat-form-field class="example-full-width input-form-field seventh-input focus">
      <input matInput placeholder="Plaintiff's Name" class="input">
      <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="inner-general-div second">
        <p class="ubuntu-b first-text"><span class="blue">5.</span> Defendant's name of court filings</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <mat-form-field class="example-full-width input-form-field eighth-input focus">
      <input matInput placeholder="Defendant's Name"  class="input">
      <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="inner-general-div second">
        <p class="ubuntu-b first-text"><span class="blue">6.</span> How are the parties listed in the court documents? <span class="select-one">(select one)</span></p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">
  <mat-radio-button class="example-radio-button" *ngFor="let item of options" [value]="item">
    {{item}}
  </mat-radio-button>
</mat-radio-group>

<div class="inner-general-div eighth-input">
    <p class="ubuntu-b first-text"><span class="blue">7.</span>Country of divorce filing</p>
    <!-- <img src="../../assets/chev-question.png"> -->
</div>

<mat-form-field class="example-full-width input-form-field third-input focus">
  <input matInput placeholder="Country Name" class="input">
  <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
  <mat-error>
    Please enter a valid email address
  </mat-error>
  <mat-error>
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>

<div class="inner-general-div second">
    <p class="ubuntu-b first-text"><span class="blue">8.</span>Case number</p>
    <!-- <img src="../../assets/chev-question.png"> -->
</div>

<mat-form-field class="example-full-width input-form-field third-input focus">
  <input matInput placeholder="Case Number" class="input">
  <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
  <mat-error>
    Please enter a valid email address
  </mat-error>
  <mat-error>
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>

<div class="inner-general-div ninth">
    <p class="ubuntu-b first-text"><span class="blue">9.</span>Assigned judge</p>
    <!-- <img src="../../assets/chev-question.png"> -->
</div>

<mat-form-field class="example-full-width input-form-field ninth-input">
  <input matInput placeholder="Judge's Name" class="input">
  <!-- <mat-hint>i.e. Circuit Court of Jefferson Country</mat-hint> -->
  <mat-error>
    Please enter a valid email address
  </mat-error>
  <mat-error>
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>

<div class="inner-general-div ninth">
    <p class="ubuntu-b first-text"><span class="blue">10.</span> Date of marriage</p>
    <!-- <img src="../../assets/chev-question.png"> -->
</div>

<mat-form-field class="datepicker" [floatLabel]="'never'">
    <input matInput [matDatepicker]="dp3" placeholder="mm/dd/yyyy" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>

  <div class="inner-general-div ninth">
      <p class="ubuntu-b first-text"><span class="blue">11.</span> Date of marriage</p>
      <!-- <img src="../../assets/chev-question.png"> -->
  </div>

  <mat-form-field class="datepicker" [floatLabel]="'never'">
      <input matInput [matDatepicker]="dp4" placeholder="mm/dd/yyyy" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
      <mat-datepicker #dp4 disabled="false"></mat-datepicker>
    </mat-form-field>

    <div class="inner-general-div ninth">
        <p class="ubuntu-b first-text"><span class="blue">12.</span> Upload Settlement Agreement</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <button mat-raised-button class="bg-dark-blue btn-doc upload-file-btn" style="color:rgb(22, 133, 211)">Upload File</button>

    <div class="inner-general-div">
        <p class="ubuntu-b first-text"><span class="blue">13.</span> Upload Final Judgement and Decree</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <button mat-raised-button class="bg-dark-blue btn-doc upload-file-btn" style="color:rgb(22, 133, 211)">Upload File</button>

    <div class="inner-general-div">
        <p class="ubuntu-b first-text"><span class="blue">14.</span> Additional Notes</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <p style="margin-left: 17px;margin-top: -8px;">Share any additional info about your case</p>

    <textarea matInput rows=6 class="textarea"></textarea>

    <div class="inner-general-div">
        <p class="ubuntu-b first-text"><span class="blue">15.</span> Upload any additional documents revelant to your case</p>
        <!-- <img src="../../assets/chev-question.png"> -->
    </div>

    <button mat-raised-button class="bg-dark-blue btn-doc upload-file-btn" style="color:rgb(22, 133, 211)">Upload File</button>

  </form>
</div>


